# AF Chess 3.0

# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
[Bb]uild/
*.lnk
*.zip
*.rar
*.7z
*.gz

# Windows:
[Tt]humbs.db
[Ee]hthumbs.db
[Dd]esktop.ini

# VS Code
.vscode/
.code-workspace

# Bash Log
end
*.stackdump
git status

# Test
[Pp]ictures/

# Executables
*.air
*.swf
*.html
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
asconfig.*

# should NOT be excluded as they contain compiler settings and other important

# information for Eclipse / Flash Builder.
.settings/

# Other files and folders
*.note
