# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
[Bb]uild/
*.lnk
*.zip
*.rar
*.7z
*.gz

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/
.code-workspace

# Bash Log
end
*.stackdump
git status

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`

# should NOT be excluded as they contain compiler settings and other important

# Other files and folders
.settings/
*.note